<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <!-- The character set should be utf-8 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Enables media queries -->
    <meta name="viewport" content="width=device-width" />
    <!-- Link to the email's CSS, which will be inlined into the email -->
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <table class="body">
      <tr>
        <td>
          <center>
            <table>
              <tbody>
                <tr>
                  <td><img src="headbg.png" alt="headbg" width="100%" /</td>
                </tr>
              </tbody>
            </table>
            <container>
              <row>
                <columns>
                  <img src="logo.png" alt="logo" />
                </columns>
              </row>
            </container>
            <spacer size="60"></spacer>
            <container>
              <row>
                <columns>
                  <h1 class="main-heading-video">
                    Новый комментарий к видео «Обучение Top, Portal, Умный дом
                    (ЦЧБ)»
                  </h1>
                  <spacer size="28"></spacer>
                  <img src="avatar.png" alt="avatar" height="48" width="48" />
                  <spacer size="16"></spacer>
                  <container>
                    <row>
                      <columns
                        class="name-author-comment"
                        style="padding-left: 0"
                      >
                        <p>Трифонов Игорь Владимирович</p>
                      </columns>
                      <columns
                        class="date-author-comment"
                        style="padding-left: 0"
                        valign="middle"
                      >
                        <p>17 авг. 2021 в 16:53</p>
                      </columns>
                    </row>
                  </container>
                  <p class="main-body-p">
                    Добавить или сделать видимой для обычного участника встречи
                    (не организатора, не спикера) следующую информацию о встрече
                    - наличие разрешения на подключение внешних участников.
                  </p>
                  <spacer size="28"></spacer>
                  <container>
                    <row>
                      <columns small="8">
                        <a href="#"
                          ><img
                            src="answer-button.png"
                            alt="answer-button"
                            width="210px"
                            height="40px"
                        /></a>
                      </columns>
                      <columns small="6">
                        <a href="#"
                          ><img
                            src="tovideo-button-white.png"
                            alt="tovideo-button-white"
                            width="147px"
                            height="40px"
                        /></a>
                      </columns>
                    </row>
                  </container>
                  <spacer size="60"></spacer>
                </columns>
              </row>
            </container>
            <container style="border-top: solid 1px #d6d9da">
              <row>
                <columns>
                  <spacer size="25"></spacer>
                  <p class="footer-heading">Подписывайтесь на наши каналы</p>
                </columns>
              </row>
            </container>
            <spacer size="12"></spacer>
            <container class="footer-logos-768">
              <row>
                <columns class="col-logo" large="3">
                  <a href="https://sberchat.sberbank.ru/@sbervideo">
                    <img src="sberchatlogo.png" alt="sberchatlogo" />
                  </a>
                </columns>
                <columns class="col-logo" large="3">
                  <a
                    href="https://sberfriend.sbrf.ru/sberfriend/#/media/community/11395040"
                  >
                    <img src="sberdruglogo.png" alt="sberdruglogo" />
                  </a>
                </columns>
                <columns class="col-logo" large="3">
                  <a
                    href="https://sbervideo.sberbank.ru/channels/Y8XugQY1DYfVu7RGR"
                  >
                    <img src="sbervideologo.png" alt="sbervideologo" />
                  </a>
                </columns>
                <columns class="col-logo" large="3">
                  <a
                    href="https://confluence.sberbank.ru/pages/viewpage.action?pageId=5044830792"
                  >
                    <img src="confluencelogo.png" alt="confluencelogo" />
                  </a>
                </columns>
              </row>
            </container>
            <container class="footer-logos-375">
              <spacer size="16"></spacer>
              <row>
                <columns class="col-logo" small="6">
                  <a href="https://sberchat.sberbank.ru/@sbervideo">
                    <img src="sberchatlogo.png" alt="sberchatlogo" />
                  </a>
                </columns>
                <columns class="col-logo" small="6">
                  <a
                    href="https://sberfriend.sbrf.ru/sberfriend/#/media/community/11395040"
                  >
                    <img src="sberdruglogo.png" alt="sberdruglogo" />
                  </a>
                </columns>
              </row>
              <spacer size="20"></spacer>
              <row>
                <columns class="col-logo" small="6">
                  <a
                    href="https://sbervideo.sberbank.ru/channels/Y8XugQY1DYfVu7RGR"
                  >
                    <img src="sbervideologo.png" alt="sbervideologo" />
                  </a>
                </columns>
                <columns class="col-logo" small="6">
                  <a
                    href="https://confluence.sberbank.ru/pages/viewpage.action?pageId=5044830792"
                  >
                    <img src="confluencelogo.png" alt="confluencelogo" />
                  </a>
                </columns>
              </row>
            </container>
            <spacer size="24"></spacer>
          </center>
        </td>
      </tr>
    </table>
  </body>
</html>
