<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <!-- The character set should be utf-8 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Enables media queries -->
    <meta name="viewport" content="width=device-width" />
    <!-- Link to the email's CSS, which will be inlined into the email -->
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <table class="body">
      <tr>
        <td>
          <center>
            <table>
              <tbody>
                <tr>
                  <td><img src="headbg.png" alt="headbg" width="100%" /</td>
                </tr>
              </tbody>
            </table>
            <container>
              <row>
                <columns>
                  <img src="logo.png" alt="logo" />
                </columns>
              </row>
            </container>
            <spacer size="60"></spacer>
            <container>
              <row>
                <columns>
                  <h1 class="main-heading-video">
                    Смотрите новое видео на канале «Экосистема Сбера»
                  </h1>
                  <spacer size="12"></spacer>
                  <container>
                    <row>
                      <columns large="1" small="1" style="padding-left: 0px">
                        <img src="sberuserlogo.png" alt="sberuserlogo" width="32px" height="32px" />
                      </columns>
                      <columns class="sub-logo" large="11" small="11" valign="middle">
                        <p class="main-body-p">Экосистема Сбера</p>
                      </columns>
                    </row>
                  </container>
                  <spacer size="20"></spacer>
                  <a href="#">
                    <img src="videopreview.png" alt="videopreview" />
                  </a>
                  <spacer size="28"></spacer>
                  <p class="sub-heading-video">Обучение Top, Portal, Умный дом (ЦЧБ)</p>
                  <spacer size="4"></spacer>
                  <p class="main-body-p">
                    Обучение по продуктам линейки СберДевайсов: Сбербокс, СберБокс ТОП, СберПортал,
                    Умный дом
                  </p>
                  <spacer size="12"></spacer>
                  <container>
                    <row>
                      <columns small="3" style="padding-left: 0px">
                        <p class="hashtag-p">#умный дом</p>
                      </columns>
                      <columns small="3" style="padding-left: 0px">
                        <p class="hashtag-p">#сбербокстоп</p>
                      </columns>
                      <columns small="3" style="padding-left: 0px">
                        <p class="hashtag-p">#сберпортал</p>
                      </columns>
                      <columns small="3" style="padding-left: 0px">
                        <p class="hashtag-p">#сбербокс</p>
                      </columns>
                    </row>
                  </container>
                  <spacer size="20"></spacer>
                  <a href="#"
                    ><img
                      class="watchvideo-button"
                      src="watchvideo-button.png"
                      alt=""
                      width="141"
                      height="40"
                  /></a>
                  <spacer size="60"></spacer>
                </columns>
              </row>
            </container>
            <container style="border-top: solid 1px #d6d9da">
              <row>
                <columns>
                  <spacer size="25"></spacer>
                  <p class="footer-heading">Подписывайтесь на наши каналы</p>
                </columns>
              </row>
            </container>
            <spacer size="12"></spacer>
            <container class="footer-logos-768">
              <row>
                <columns class="col-logo" large="3">
                  <a href="https://sberchat.sberbank.ru/@sbervideo">
                    <img src="sberchatlogo.png" alt="sberchatlogo" />
                  </a>
                </columns>
                <columns class="col-logo" large="3">
                  <a href="https://sberfriend.sbrf.ru/sberfriend/#/media/community/11395040">
                    <img src="sberdruglogo.png" alt="sberdruglogo" />
                  </a>
                </columns>
                <columns class="col-logo" large="3">
                  <a href="https://sbervideo.sberbank.ru/channels/Y8XugQY1DYfVu7RGR">
                    <img src="sbervideologo.png" alt="sbervideologo" />
                  </a>
                </columns>
                <columns class="col-logo" large="3">
                  <a href="https://confluence.sberbank.ru/pages/viewpage.action?pageId=5044830792">
                    <img src="confluencelogo.png" alt="confluencelogo" />
                  </a>
                </columns>
              </row>
            </container>
            <container class="footer-logos-375">
              <spacer size="16"></spacer>
              <row>
                <columns class="col-logo" small="6">
                  <a href="https://sberchat.sberbank.ru/@sbervideo">
                    <img src="sberchatlogo.png" alt="sberchatlogo" />
                  </a>
                </columns>
                <columns class="col-logo" small="6">
                  <a href="https://sberfriend.sbrf.ru/sberfriend/#/media/community/11395040">
                    <img src="sberdruglogo.png" alt="sberdruglogo" />
                  </a>
                </columns>
              </row>
              <spacer size="20"></spacer>
              <row>
                <columns class="col-logo" small="6">
                  <a href="https://sbervideo.sberbank.ru/channels/Y8XugQY1DYfVu7RGR">
                    <img src="sbervideologo.png" alt="sbervideologo" />
                  </a>
                </columns>
                <columns class="col-logo" small="6">
                  <a href="https://confluence.sberbank.ru/pages/viewpage.action?pageId=5044830792">
                    <img src="confluencelogo.png" alt="confluencelogo" />
                  </a>
                </columns>
              </row>
            </container>
            <spacer size="24"></spacer>
          </center>
        </td>
      </tr>
    </table>
  </body>
</html>
